.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
     }
.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 auto;
    color: red;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.4px;
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
    color: red;
    }
.image{
    height: 789px;
    left: 0px;
    top: 78px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.h2{
    padding: 48px 253px 38px 253px;
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.299999952316284px;
  }

.main_info{
    display: block;
    Height: 1439px;
}

paragraph1{ margin-top: 905px;
    margin-left: 68px;
    margin-right: 68px;
    font-family: Montserrat;
    Font style: Regular;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    display: block;
    Width: 1145px;
    Height: 132px;

}

paragraph2{
    margin-top: 1064px;
    margin-left: 68px;
    margin-right: 68px;
    display: block;
    Width: 1145px;
    Height: 132px;
    Font family: Montserrat;
    Font style: Regular;
    Font size: 16px;
    text-align: center;
  }

.button{
    margin: 0 auto;
    display: block;
    background: #FF0000;
    color: white;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.7999999523162842px;
    text-align: left;
    Width: 191px;
    Height: 51px;
    Corner radius: 4px;
    text-align: center;
    margin-top: 66px;
   }
.footer{
    display: block;
    Height:108px;
}
.copyright{
    display: block;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4000000953674316px;
    text-align: right;
    margin-bottom: 29px;
  }
